body {
    font-family: sans-serif;
    background-color: lightgreen;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
    margin: 35px auto;
    color: #354ccc;
    font-family: sans-serif;
    padding-left: 250px;
    padding-right: 250px;
}
